@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lorem ipsum</h1>
    <p class="lead">Lorem ipsum dolor sit amet, at ius suas illud quaeque, est esse mandamus percipitur at. Mea cu duis congue adolescens.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Propriae efficiendi</h2>
        <p>
            Propriae efficiendi vix et, viderer ancillae ei nam. Deserunt adipiscing sed ea. Dolore assentior ex eum, quis ludus forensibus usu ea. Novum dictas vituperatoribus ne cum.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vel nemore</h2>
        <p>Vel nemore volumus probatus ad, mei ne omittam scripserit. Id laboramus incorrupte vel. Facer eruditi eos no, mei partem officiis ne, oporteat molestiae pri in. Ei mel decore convenire. Fugit ubique causae nam te. Solum dolor mei eu, eu vocibus gubergren eum, cu numquam feugiat argumentum sit.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vim mutat</h2>
        <p>Vim mutat oblique id, mel eu petentium adolescens honestatis. Probo dolores persequeris his id, quo erat putant in. Id nam nullam oportere intellegebat, eam et solum noster regione.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>